.fridge-top-container h2 {
    margin-bottom: 2rem;
    font-weight: bolder;
    background-color: #F5F5F5;
    padding-bottom: 20px;
    margin: 2rem 0;
    text-align: center;
    color: #1C1919;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
    width:100%; 
}
.fridge-top-container hr {
    margin: auto 60px;
    border-style: dashed;
    border-color: grey;
    border-width: 0 0 4px 0;
    margin-bottom: 30px;


}
.fridge-middle-container h2{
    padding-left: 60px;
    font-size: 18px;
    font-weight: bold;
}
/* list items /////////////////*/
.fridge-list-container ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    top: 23%;
    width: 20%;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    list-style: none;
}
.fridge-list-container {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
/* list items buttons */
.fridge-list-container button {
 width: 195px;
 height: 100px;
 border-radius: 20px;
 /* change button colour */
 background-color: rgb(109, 125, 77);
 border-style: none;
 color: white;

}
.fridge-list-container button:hover {
    background-color: #ddd;
    color: black;
}
.fridge-list-container button.active {
    background-color: #666;
    color: white;
}